spring:
  profiles:
    actives: development
  application:
    name: mls
  freemarker:
    enabled: false
  jpa:
    properties:
      hibernate:
        formatSql: true
        jdbc:
          lob:
            non_contextual_creation: true
    databasePlatform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    hibernate:
      ddlAuto: update
      naming:
        implicitStrategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyJpaCompliantImpl
    open-in-view: false

  datasource:
    url: jdbc:postgresql://batyr.db.elephantsql.com:5432/lvtbtotd
    username: lvtbtotd
    password: jcnlxfdgjMj5Yhq8OBbPQekUAYxgjYAC
    testOnBorrow: true
    testWhileIdle: true
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 30000
    validationQuery: SELECT 1
    max-active: 3
    max-idle: 1
    max-wait: 8000
    driverClassName: org.postgresql.Driver

  main:
    allow-bean-definition-overriding: true

server:
  error:
    include-message: always
  port: 8081
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
    min-response-size: 1024
  http2:
    enabled: true
springdoc:
  swagger-ui:
    operations-sorter: method
  api-docs:
    path: /api-docs
